//margin
$margin: 30px;
$ms: $margin/1.5;
$md: $margin;
$mb: $margin * 2;
//fize
$fize: 16px;
$fs: $fize;
$fd: $fize * 1.25;
$fb: $fize * 2;
$fb1: $fize * 3;
//padding
$padding: 10px;
$ps: $padding;
$pd: $padding * 2;
$pb: $padding * 3;
//color
$primary: #323223;
$primary1: #b9b9b9;
$primary2: #00cc99;
$accent: #ebebeb;
$accent1: white;
//media
$pad: 768px;
$smb: 767px;
$sm: 414px;
$sml: 375px;
